html {
    background: purple;
}

body {
    background: #CCAAFF;  
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif; 
    font-size: 18px;
    line-height: normal;
    margin: auto;
    margin-top: 1em;
    max-width: 80%;

}

nav {
    list-style: none;
    margin: 10px;
    padding: 0;
    background-color: #300B3D;
    width: 15%;
    position: fixed;
    text-align: center;
    font-size: 16px;
}

nav a{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none
}

nav a:hover {
    background-color: #CCAAFF;
    color: black;
}

.Header, .Content {
    margin-left: 20%;
    padding-left: 1em;
    padding-right: 1em;
}

.Header {padding-top: 6px}

footer {
    font-family: serif;
    font-size: 0.7em;
    color: white;
    padding: 1em;
    background: purple;
    text-align: right;
}

li {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

img {width: 100%}

.slideshow-container {
    box-sizing: border-box;
    max-width: 900px;
    position: relative;
}

.slideshow-container img {max-width: 100%}

.slideshow1, .slideshow2 {display: none}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-size: 18px;
    user-select: none;    
}

.next {right: 0}

.prev:hover, .next:hover {background-color: rgba(0,0,0,0.8)}

.text {
    color: ghostwhite;
    font-size: 14px;
    padding: 12px;
    position: absolute;
    bottom: 4px;
    background-color: rgba(0,0,0,0.6);
}

code {
    color: #424242;
    background-color: #e6ccff;
}

table {
    text-align: left;
    border-spacing: 1px;
}

th, td {padding: 10px}